.row
  .col.s6{class: "#{offset_col(email)}"}
    .card.overflow-x
      .card-content.lighten-4{class: "#{color_card(email)}"}
        %p= "Enviado #{email.send_at}"
        %p{style: "white-space: pre-line"}= email.body
